@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1:wght@400;500;600;800&family=Zen+Kaku+Gothic+New:wght@300;400;500&display=swap');

// font-family: 'Zen Kaku Gothic New', sans-serif;
// font-family: 'Shippori Mincho B1', serif;

$breakpoints: (
    'pc': 'screen and (min-width: 1440px)',
    'tb': 'screen and (max-width: 1439px)',
    'sp': 'screen and (max-width: 999px)',
) !default;
@mixin mq($breakpoint) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

$color_text: #231815;

$color_daichi: #825a17;
$color_factory: #e6442b;
$color_deli: #73a500;
$color_dining: #910017;
$color_liquor: #345b91;

.for-sp {
    display: none !important;
    @include mq(sp) {
        display: block !important;
    }
}
.for-tb {
    display: none !important;
    @include mq(tb) {
        display: block !important;
    }
}
.for-pc {
    display: block !important;
    @include mq(tb) {
        display: none !important;
    }
}

body {
    font-family: 'Zen Kaku Gothic New', sans-serif;
    color: $color_text;
    overflow-x: hidden;
}
a {
    text-decoration: none;
    color: $color_text;
}
img {
	vertical-align:top;
}