@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1:wght@400;500;600;800&family=Zen+Kaku+Gothic+New:wght@300;400;500&display=swap');

// font-family: 'Zen Kaku Gothic New', sans-serif;
// font-family: 'Shippori Mincho B1', serif;

$breakpoints: (
    // 'pc': 'screen and (min-width: 1440px)',
    'pc': 'screen and (min-width: 1000px)',
    // 'tb': 'screen and (max-width: 1439px)',
    'tb': 'screen and (max-width: 999px)',
    'sp': 'screen and (max-width: 599px)',
) !default;
@mixin mq($breakpoint) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

$color_text: #231815;

$color_daichi: #825a17;
$color_factory: #e6442b;
$color_deli: #73a500;
$color_dining: #910017;
$color_liquor: #345b91;

.for-sp {
    display: none !important;
    @include mq(sp) {
        display: block !important;
    }
}
.for-tb {
    display: none !important;
    @include mq(tb) {
        display: block !important;
    }
}
.for-pc {
    display: block !important;
    @include mq(tb) {
        display: none !important;
    }
}

body {
    font-family: 'Zen Kaku Gothic New', sans-serif;
    color: $color_text;
    overflow-x: hidden;
}
a {
    text-decoration: none;
    color: $color_text;
}
img {
	vertical-align:top;
}

.link-arrow {
    font-family: 'Shippori Mincho B1', serif;
    font-size: 16px;
    display: inline-block;
    height: 45px;
    padding-right: 55px;
    padding-top: 14px;
    position: relative;
    transition: .5s;
    &:hover {
        &::before {
            background-color: #000;
        }
        &::after {
            background-color: #fff;
        }
    }
    @include mq(tb) {
        // width: 100%;
        font-size: 3.73vw;
        font-size: clamp(14px, 3.73vw, 16px);
        padding-right: 1em;
        padding-top: 1em;
    }
    &::before {
        content: '';
        position: absolute;
        width: 45px;
        height: 45px;
        border: 1px solid #000;
        border-radius: 50%;
        top: 0;
        right: 0;
        transition: .5s;
        @include mq(tb) {
            right: -45px;
        }
    }
    &::after {
        content: '';
        position: absolute;
        width: 45px;
        height: 45px;
        top: 0;
        right: 0;
        mask-image: url('../images/icon_arrow3.svg');
        mask-position: center;
        mask-repeat: no-repeat;
        mask-size: 23px;
        background-color: #000;
        transition: .5s;
        @include mq(tb) {
            right: -45px;
        }
    }
}

.link-arrow2 {
    font-family: 'Shippori Mincho B1', serif;
    font-size: 16px;
    display: inline-block;
    padding: 1em 65px 1em .2em;
    border-bottom: 2px solid #000;
    position: relative;
    &:hover {
        &::after {
            right: -15px;
        }
    }
    &::after {
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(0, -50%);
        width: 45px;
        height: 45px;
        mask-image: url('../images/icon_arrow3.svg');
        mask-position: center;
        mask-repeat: no-repeat;
        mask-size: 23px;
        background-color: #000;
        transition: .5s;
    }
}