@import "include/reset";
@import "include/common";
@import "include/header";
@import "include/mv_sub";
@import "include/contact_part";
@import "include/footer_nav";
@import "include/footer";

// section 
section {
    padding: 100px 0;
    @include mq(tb) {
        padding: 24vw 0;
    }
    .inner {
        width: 1100px;
        margin: 0 auto;
        @include mq(tb) {
            width: 100%;
            padding: 0 8vw;
        }
        .content {
            width: 100%;
            a {
                border-top: 1px solid #dcdcdc;
                display: flex;
                align-items: center;
                width: 100%;
                line-height: 1;
                padding: 4em 0 4em 1em;
                transition: .5s;
                @include mq(tb) {
                    display: block;
                    padding: 1.5em 0 1.5em .8em;
                }
                &:last-child {
                    border-bottom: 1px solid #dcdcdc;
                }
                &:hover {
                    background-color: #f0f0f0;
                }
                .news-date {
                    margin-right: 2em;
                    font-size: 18px;
                    color: #b2b2b2;
                    @include mq(tb) {
                        font-size: 2.93vw;
                        font-size: clamp(11px, 2.93vw, 18px);
                        margin-bottom: 1em;
                    }
                }
                .news-body {
                    font-family: 'Shippori Mincho B1', serif;
                    font-size: 18px;
                    line-height: 1.6;
                    @include mq(tb) {
                        font-size: 2.93vw;
                        font-size: clamp(11px, 2.93vw, 18px);
                    }
                }
            }
        }
        .pagination {
            width: 500px;
            margin: 120px auto;
            @include mq(tb) {
                width: 100%;
                margin: 16vw auto;
            }
            .nav-links ul {
                display: flex;
                justify-content: space-between;
                align-items: center;
                li {
                    width: 50px;
                    height: 50px;
                    margin: 0 10px;
                    @include mq(tb) {
                        width: 11.2vw;
                        height: 11.2vw;
                        margin: 0;
                    }
                    a {
                        width: 50px;
                        height: 50px;
                        display: block;
                        @include mq(tb) {
                            width: 11.2vw;
                            height: 11.2vw;
                        }
                    }
                    .page-numbers {
                        border-radius: 50%;
                        background-color: #f0f0f0;
                        font-family: 'Shippori Mincho B1', serif;
                        font-size: 16px;
                        font-weight: 400;
                        text-align: center;
                        padding-top: 14px;
                        transition: 1s;
                        @include mq(tb) {
                            font-size: 2.8vw;
                            padding-top: 0;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                        &.active {
                            background-color: $color_dining;
                            color: #fff;
                        }
                    }
                    .prev, .next {
                        mask-image: url('../images/icon_arrow2.svg');
                        mask-repeat: no-repeat;
                        mask-size: 11px;
                        mask-position: center;
                        background-color: #000;
                        @include mq(tb) {
                            mask-size: 2.4vw;
                        }
                    }
                    .prev {
                        transform: rotate(180deg);
                    }
                }
            }
        }
    }
}